{% extends 'base.html.twig' %}


{% block body %}

	<h3>Your cart was successfully modified</h3>

	<a class="btn btn-default" href="/">Back to Index</a>
	<a class="btn btn-default" href="/Booklist/edit">Back to Cart</a>

{% endblock %}